#form{
    background-color: var(--shape-body);
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: .75rem;
    flex-grow: 1;
    overflow-y: auto;

    & .container-form{
        margin-inline: 8.125rem;
        margin-block: 5rem;

        & h2{
            margin-bottom: 2.5rem;
        }
    }
}

.alert{
    gap: .5rem;
    font: var(--text-xs);
    color: var(--danger);
    display: none;

    & .alert-icon{
        width: 1rem;
        height: 1rem;
        aspect-ratio: 1/1;
        background-color: var(--danger);
        -webkit-mask: url('../assets/icons/circle-alert.svg') no-repeat center;
        mask: url('../assets/icons/circle-alert.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        display: inline-block;
    }
}

.container-event{
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "A A"
    "B C"
    "D E"
    "F F";
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    &:has(input:user-invalid) .alert{
        display: flex;
    }

    & label{
        font: var(--text-sm);
        color: var(--text-body);
    }

    & input{
        width: 100%;
        height: 3rem;
        background-color: var(--input-base);
        border-radius: .5rem;
        border: 1px solid var(--input-stroke);
        padding-block: .75rem;
        padding-inline: 1rem;
        font: var(--text);
        color: var(--text-body);



        &::placeholder{
            color: var(--input-placeholder);
        }

        &:focus{
            border: 1px solid var(--brand-light);
            color: var(--text-heading);
            outline: none;
        }

        &:user-invalid {
            border: 1px solid var(--danger);
            outline: none;
        }
    }
}

.radio-wrapper{

    display: flex;
    flex-direction: column;
    gap: .75rem;

    &:has(input[type="radio"]:user-invalid) .alert{
        display: flex
    }

    & label{
        font: var(--text-sm);
        color: var(--text-body);
    }

    & .type-option{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: .25rem;
    border-radius: .5rem;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    overflow: hidden;
    height: 3rem;

    &::before{
        content: "";
        position: absolute;
        top: .25rem;
        bottom: .25rem;
        left: .25rem;
        width: calc(50% - .25rem);
        border-radius: .375rem;
        background-color: var(--shape-hover);
        transition: left .3s ease;
        z-index: 0;
    }

    &:has(#presencial:checked)::before{
        left: .25rem;
    }

    &:has(#online:checked)::before{
        left: calc(50% + .125rem);
    }

    &:has(input[type="radio"]:user-invalid) {
        border: 1px solid var(--danger);
    }

    & .option{
        position: relative;
        z-index: 1;
        display: flex;
        width: 100%;
        height: 3rem;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
        gap: .5rem;
        cursor: pointer;
        transition: color .3s ease;

        & input[type="radio"]{
            display: none;
        }

        

    }
        
    }

    & .icon-inperson{
        width: 1rem;
        height: 1rem;
        aspect-ratio: 1/1;
        -webkit-mask: url('../assets/icons/building-2.svg') no-repeat center;
        mask: url('../assets/icons/building-2.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        display: inline-block;
    }

    & .icon-online{
        width: 1rem;
        height: 1rem;
        aspect-ratio: 1/1;
        -webkit-mask: url('../assets/icons/video.svg') no-repeat center;
        mask: url('../assets/icons/video.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        display: inline-block;
    }

    & .icon-option-color{
        background-color: var(--input-placeholder);
    }

    & .option:has(input[type="radio"]:checked){
        color: var(--text-heading);

        & .icon-option-color{
            background-color: var(--brand-light);
        }
    }
}

.text-area-wrapper{
    display: flex;
    flex-direction: column;
    gap: .75rem;

    &:has(textarea:user-invalid) .alert {
    display: flex;
}

    & label{
        font: var(--text-sm);
        color: var(--text-body);
    }

    & textarea{
        width: 100%;
        height: 8.5rem;
        background-color: var(--input-base);
        border-radius: .5rem;
        padding: 1rem;
        border: 1px solid var(--input-stroke);
        font: var(--text);
        color: var(--text-body);

        &::placeholder{
            color: var(--input-placeholder);
        }

        &:focus{
            border: 1px solid var(--brand-light);
            color: var(--text-heading);
            outline: none;
        }

        &:user-invalid {
            border: 1px solid var(--danger);
            outline: none;
        }
    }
}

.titulo{
    grid-area: A;
}

.inicio{
    grid-area: B;
}

.end{
    grid-area: C;
}

.type{
    grid-area: D;
}

.local{
    grid-area: E;
}

.description{
    grid-area: F;
}
