#form{
    background-color: var(--shape-body);
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: .75rem;
    flex-grow: 1;
    overflow-y: auto;

    & .container-form{
        margin-inline: 8.125rem;
        margin-block: 5rem;

        & h2{
            margin-bottom: 2.5rem;
        }
    }
}